.ant-modal-body {
  background-color: transparent !important;
  height: 400px !important;
}

.ant-modal-content {
  border-radius: 38px !important;
}
.padding-top {
  padding-top: 20px;
}

.corrections {
  span {
    font-size: 50px !important;
  }
  p {
    font-size: 30px !important;
    padding-top: 5% !important;
    margin-bottom: 0em !important;
  }
}

.bottom {
  padding-top: 10%;
  margin-left: 25%;
}
