// Design
$lighter-text: #707070;
$brand-color: #E74C3C;
$blue-color: #5AE5E1;
$inverse-color: #FFF;
$darkBlue-color: #3b5998;
$lighterBlue-color: #4e69a2;

$dark-gray: #303030;
$dark-medium-gray: #afafaf;
$medium-gray: #D5D5D5;
$light-gray: #F9F9F9;

$light-green: #63e57b80;
$green-color: #63E57B;
$green-shadow1: #59ce6e;
$green-shadow2: #4fb762;
$dark-green-color: #128427;

// Effects
$transparent-overlay: rgba(0,0,0,0.35);
$strong-overlay: rgba(0,0,0,0.50);
$strong-overlay-complete: rgba(0,0,0,0.50);
$card-shadow: rgba(0,0,0,0.16);
$card-hover: rgba(0, 0, 0, 0.4);
$search-background: rgba(0, 0, 0, 0.30);

// Core
$view-background: #FFF;